body {
    font-size: 2rem;
}

#contact-form {
    margin-top: 5rem;
}

form label {
    display: block;
    margin-bottom: 2rem;
}

form input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
}

form textarea {
    resize: vertical;
    min-height: 20rem;
}

form button {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    padding: 1.5rem;
}

form button:hover {
    cursor: pointer;
}

/* Use type="submit" rather than button to override the theme CSS. */
/* Use focus-visible rather than focus to apply the styling only for
   keyboard selection (Tab), not mouse click. */
form [type="submit"]:focus-visible {
    outline: 1px solid;
}

.required {
    color: red;
}
