<!-- TODO: confirm works on prod site -->
<form action="https://formspree.io/f/mvgjlodq" method="POST">
    <label>
        Name<span class="required">*</span><br>
        <input type="text" name="name" required>
    </label>
    <label>
        Email<span class="required">*</span><br>
        <input type="email" name="email" required>
    </label>
    <label>
        Phone number<br>
        <input type="tel" name="phone">
    </label>
    <label>
        Message<span class="required">*</span><br>
        <textarea name="message" required></textarea>
    </label>
    <button type="submit">Submit</button>
</form>
